* {
  font-family: 'Ubuntu', sans-serif;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

body {
  padding-top: 56px;
  min-height: 100vh;
  position: relative;
  margin: 0;
}

.container-contato {
  margin-top: 170px!important;
}

.body-contato {
  background-image: url('../images/fundo_teste.png');
  background-position-x: 1345px;
  background-position-y: 75px;
  background-repeat: no-repeat;
  background-size: contain;
}

.container-cupom {
  margin-top: 35px;
}

.body-login {
  min-height: 100vh;
  /* background-image: url('../images/fundo_login.png'); */
  /* background-position-x: 1345px; */
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
  /* padding-top: 20px!important; */
  background-image: url(../images/fundo.jpg);
}

.body-login .card {
  background-color: rgba(255,255,255,0.7);
}

.panel-login {
  margin-top: 190px;
}
.row-cadastro {
  margin-top: 130px;
}

.logo {
  height: 180px;
  width: 180px;
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  margin-bottom: 50px;
}

.title-login {
  margin-bottom: 200px;
  text-align: center;
}

.title-cadastro {
  margin-bottom: 160px;
  text-align: center;
}

.footer-login {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}

.lista-pontos {
  margin-top: 1.5rem !important;
}

.nav-plante-facil {
  background-color: #78dd78!important;
}

.cupom-link-image {
  height: 261px;
  display: flex;
  align-items: center;
  padding: 40px;
}

.row-side-panel {margin-top: 20px;}

.link-grow {
  transition: all .2s ease-in-out;
}

.link-grow:hover {
  transform: scale(1.03);
}

.border-left-primary {
  border-left: .25rem solid #4e73df!important;
}

.border-left-success {
  border-left: .25rem solid #1cc88a!important;
}

.border-left-info {
  border-left: .25rem solid #36b9cc!important;
}

.border-left-warning {
  border-left: .25rem solid #f6c23e!important;
}

.border-left-danger {
  border-left: .25rem solid #e74a3b!important;
}

.border-left-secondary {
  border-left: .25rem solid #858796!important;
}

.text-gray-300 {
  color: #dddfeb!important;
}